<div class="drum">
    <div class="crash_cymbal_left" id="crashCymbalLeft">
        <p>R</p>
    </div>
    <div class="hat" id="hat">
        <p>D F</p>
    </div>
    <div class="snare" id="snare">
        <p>J K</p>
    </div>
    <div class="bass" id="bass">
        <p>SPACE</p>
    </div>
    <div class="high_tom" id="highTom">
        <p>I</p>
    </div>
    <div class="low_tom" id="lowTom">
        <p>O</p>
    </div>
    <div class="floor_tom" id="floorTom">
        <p>L</p>
    </div>
    <div class="crash_cymbal_right" id="crashCymbalRight">
        <p>U</p>
    </div>
    <div class="ride_cymbal" id="rideCymbal">
        <p>P</p>
    </div>
</div>