<h3>Shift:オクターブシフト</h3>
<div class="pianoContainer">
    <div class="piano">
        <div class="key white pianokey">
            <p class="whiteGuide">Z</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">S</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">X</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">C</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">F</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">V</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">G</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">B</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">N</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">J</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">M</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">K</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">,Q</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">L2</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">.W</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">/E</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">:4</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">R</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">5</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">T</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">Y</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">7</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">U</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">8</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">I</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">9</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">O</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">P</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">-</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">@</p>
        </div>
        <div class="black pianokey">
            <p class="blackGuide">^</p>
        </div>
        <div class="key white pianokey">
            <p class="whiteGuide">[</p>
        </div>
    </div>
</div>