<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>トップページ</title>
</head>

<body>
    <div class="text">
        <h1 class="title">title</h1>
        <p class="explanation">サイトで演奏できる！セッションできる！</p>
    </div>
    <div class="button-container">
        <a href="./offSelection">
        <button class="button">オフライン演奏</button></a>
        <a href="./room">
        <button class="button">オンライン演奏</button></a>
    </div>
</body>

</html>