<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楽器選択</title>
    <link rel="stylesheet" href="./stylesheets/selection.css">
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <h2>どの楽器で演奏する？</h2>
    <div class="imagecontainer">
        <div class="item">
            <a href="./offPiano">
                <img src="./images/pianoillust.png" alt="piano">
                <p>ピアノ</p>
            </a>
        </div>
        <div class="item">
            <a href="./offGuitar">
                <img src="./images/guitarillust.png" alt="guitar">
                <p>ギター</p>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="./images/bassillust.png" alt="bass">
                <p>ベース</p>
            </a>
        </div>
        <div class="item">
            <a href="./offDrum">
                <img src="./images/drumillust.png" alt="drum">
                <p>ドラム</p>
            </a>
        </div>
    </div>
    <script src=""></script>
</body>

</html>