<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/drum.css">
    <title>ドラム</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <div class="room_number">
        <h2 id="roomNumber"></h2>
    </div>
    <div class="drum">
        <div class="crash_cymbal_left" id="crashCymbalLeft">
            <p>R</p>
        </div>
        <div class="hat" id="hat">
            <p>D F</p>
        </div>
        <div class="snare" id="snare">
            <p>J K</p>
        </div>
        <div class="bass" id="bass">
            <p>SPACE</p>
        </div>
        <div class="high_tom" id="highTom">
            <p>I</p>
        </div>
        <div class="low_tom" id="lowTom">
            <p>O</p>
        </div>
        <div class="floor_tom" id="floorTom">
            <p>L</p>
        </div>
        <div class="crash_cymbal_right" id="crashCymbalRight">
            <p>U</p>
        </div>
        <div class="ride_cymbal" id="rideCymbal">
            <p>P</p>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/Piano.js"></script>
    <script src="./javascripts/Drum.js"></script>
    <script src="./javascripts/Guitar.js"></script>
    <script src="./javascripts/onDrum.js"></script>
</body>

</html>