<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/guitar.css">
    <title>ギター</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <div class="room_number">
        <h2 id="roomNumber"></h2>
    </div>
    <div class="codeList">
        A=A, A+Shift=A#, B=B, C=C, C+Shift=C#, D=D, D+Shift=D#, E=E, F=F, F+Shift=F#, G=G, G+Shift=G#
</div>
    <div class="guitar-container">
        <div class="neck">
            <div class="first guitar open">
                <div class="string1"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="first guitar">
                <div class="string1"></div>
            </div>
            <%}%>
        </div>
        <div class="neck">
            <div class="second guitar open">
                <div class="string2"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="second guitar">
                <div class="string2"></div>
            </div>
            <%}%>
        </div>
        <div class="neck">
            <div class="third guitar open">
                <div class="string3"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="third guitar">
                <div class="string3"></div>
            </div>
            <%}%>
        </div>
        <div class="neck">
            <div class="four guitar open">
                <div class="string4"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="four guitar">
                <div class="string4"></div>
            </div>
            <%}%>
        </div>
        <div class="neck">
            <div class="five guitar open">
                <div class="string5"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="five guitar">
                <div class="string5"></div>
            </div>
            <%}%>
        </div>
        <div class="neck">
            <div class="six guitar open">
                <div class="string6"></div>
            </div>
            <%for(var i = 0; i < 13; i++){%>
            <div class="six guitar">
                <div class="string6"></div>
            </div>
            <%}%>
        </div>
        <div class="position-mark" id="mark-one"></div>
        <div class="position-mark" id="mark-two"></div>
        <div class="position-mark" id="mark-three"></div>
        <div class="position-mark" id="mark-four"></div>
        <div class="position-mark" id="mark-five"></div>
        <div class="position-mark" id="mark-six"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/Piano.js"></script>
    <script src="./javascripts/Drum.js"></script>
    <script src="./javascripts/Guitar.js"></script>
    <script src="javascripts/onGuitar.js"></script>
</body>

</html>