<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/piano.css">
    <title>ピアノ</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <div class="room_number">
        <h2 id="roomNumber"></h2>
    </div>
    <div class="pianoContainer">
        <div class="piano">
            <div class="key white pianokey">
                <p class="whiteGuide">Q</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">2</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">W</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">3</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">E</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">R</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">5</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">T</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">6</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">Y</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">7</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">U</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">I</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">9</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">O</p>
            </div>
            <div class="black pianokey">
                <p class="blackGuide">0</p>
            </div>
            <div class="key white pianokey">
                <p class="whiteGuide">P</p>
            </div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
            <div class="black pianokey"></div>
            <div class="key white pianokey"></div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/Piano.js"></script>
    <script src="./javascripts/Drum.js"></script>
    <script src="./javascripts/Guitar.js"></script>
    <script src="./javascripts/onPiano.js"></script>
</body>

</html>