.back {
    font-weight: bold;
    font-size: 30px;
}

.back:hover{
    opacity: 0.5;
}

 .drum {
      width: 1000px;
      height: 500px;
      position: relative;
  }

  .crash_cymbal_left {
      width: 200px;
      height: 150px;
      background-color: gold;
      border-radius: 50%;
      filter: drop-shadow(0px 5px 5px #4e4e4e);
      position: absolute;
      left: 10%;
  }


  .hat {
      width: 150px;
      height: 130px;
      background-color: gold;
      border-radius: 50%;
      filter: drop-shadow(0px 5px 5px #4e4e4e);
      position: absolute;
      top: 35%;
  }

  .snare {
      width: 150px;
      height: 130px;
      background-color: white;
      border: 5px solid black;
      border-radius: 50%;
      filter: drop-shadow(0px 10px 0px black);
      position: absolute;
      top: 40%;
      left: 20%;
  }

  .bass {
      width: 150px;
      height: 150px;
      background-color: white;
      border: 5px solid black;
      border-radius: 50%;
      filter: drop-shadow(0px -15px 0px black);
      position: absolute;
      top: 48%;
      left: 40%;
  }


  .high_tom {
      width: 100px;
      height: 100px;
      background-color: white;
      border: 5px solid black;
      border-radius: 50%;
      filter: drop-shadow(0px 15px 0px black);
      position: absolute;
      top: 15%;
      left: 35%;
  }

  .low_tom {
      width: 100px;
      height: 100px;
      background-color: white;
      border: 5px solid black;
      border-radius: 50%;
      filter: drop-shadow(0px 15px 0px black);
      position: absolute;
      top: 15%;
      left: 50%;
  }

  .floor_tom {
      width: 150px;
      height: 130px;
      background-color: white;
      border: 5px solid black;
      filter: drop-shadow(0px 10px 0px black);
      border-radius: 50%;
      position: absolute;
      top: 40%;
      right: 24%;
  }

  .ride_cymbal {
      width: 200px;
      height: 150px;
      background-color: gold;
      border-radius: 50%;
      filter: drop-shadow(0px 5px 5px #4e4e4e);
      position: absolute;
      top:30%;
      right: 0%;
  }

  .crash_cymbal_right {
      width: 200px;
      height: 150px;
      background-color: gold;
      border-radius: 50%;
      filter: drop-shadow(0px 5px 5px #4e4e4e);
      position: absolute;
      right: 13%;
  }

  p {
      text-align: center;
      font-weight: bold;
  }