body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-weight: bold;
}


.back:hover{
    opacity: 0.5;
}

.text {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 48px;
    color: #fff;
}

.explanation{
    font-size: 20px;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover a {
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}