body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.back:hover {
    opacity: 0.5;
}

.text {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 48px;
    color: #fff;
}

.explanation {
    font-size: 20px;
    color: #fff;
}

.image-container {
    display: flex;
    justify-content: space-around;
}


.image {
    filter: invert(100%);
}

.offline img {
    width: 100px;
}

.offline h2 {
    color: #fff;
}

.online img {
    width: 240px;
}

.online h2 {
    margin-left: 30%;
    color: #fff;
}

a {
    text-decoration: none;
}
a:hover{
    filter: invert(70%);
}
