body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;
}

.back {
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: bold;
    font-size: 30px;
}

.back:hover{
    opacity: 0.5;
}

.container {
  text-align: center;
}

.title {
  font-size: 48px;
  margin-bottom: 40px;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 24px;
  margin-bottom: 10px;
}

.input {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.join-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #0056b3;
}
