<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>トップページ</title>
</head>

<body>
    <div class="text">
        <h1 class="title">OnlineSession</h1>
        <p class="explanation">サイトで演奏できる！セッションできる！</p>
    </div>
    <div class="image-container">
        <div class="offline">
            <a href="./offSelection">
                <img src="./images/offline.png" alt="ひとりで" class="image">
                <h2 class="choice-title">ひとりで</h2>
            </a>
        </div>
        <div class="online">
            <a href="./room">
                <img src="./images/online.png" alt="みんなで" class="image">
                <h2 class="choice-title">みんなで</h2>
            </a>
        </div>
    </div>
</body>

</html>