<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/bass.css">
    <title>ベース</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>

    <%- include ("../partials/bass.ejs") %>
    <script src="./javascripts/Bass.js"></script>
    <script src="./javascripts/offBass.js"></script>
</body>

</html>