<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/piano.css">
    <title>ピアノ</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <h4>※ノイズが出るようになったらリロードしてください。</h4>
    <%- include("../partials/piano.ejs") %>
    <script src="./javascripts/Piano.js"></script>
    <script src="./javascripts/offPiano.js"></script>
</body>

</html>