<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/guitar.css">
    <title>ギター</title>
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <div class="room_number">
        <h2 id="roomNumber"></h2>
    </div>
<%- include("../partials/guitar.ejs") %>

<script src="/socket.io/socket.io.js"></script>
<script src="./javascripts/Piano.js"></script>
<script src="./javascripts/Drum.js"></script>
<script src="./javascripts/Guitar.js"></script>
<script src="./javascripts/onGuitar.js"></script>
</body>

</html>