<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ルーム</title>
    <link rel="stylesheet" href="./stylesheets/room.css">
</head>

<body>
    <span class="back" onclick="window.history.back()">&#8592;戻る</span>
    <div class="container">
        <h1 class="title">ルームに入る</h1>

        <form action="/onSelection" method="post" id="joinForm" class="join-form">
            <label for="roomNumberInput" class="label">部屋ID</label>
            <input type="text" name="roomNumber" class="input" placeholder="5桁の半角数字" pattern="[0-9]+" title="半角数字で入力してください"
                maxlength="5" minlength="5" required >
            <label for="userName" class="label">ユーザー名</label>
            <input type="text" name="userName" value="ゲスト" class="input" pattern="[ぁ-んァ-ヶ一-龠々a-zA-Z0-9０-９]+"
                title="特殊文字は使用できません。" required>
            <label for="password" class="label">部屋パスワード</label>
            <input type="text" name="password" class="input" pattern="[ぁ-んァ-ヶ一-龠々a-zA-Z0-9０-９]+" title="特殊文字は使用できません。">
            <button type="submit" class="join-button">入室</button>
        </form>
    </div>
</body>

</html>